.hero {
    height: calc(100vh - 56px);
    display: grid;
    place-items: center;
}

.hero .group {
    width: 100%;
}

.hero .sub {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--black-4);
    font-weight: 100;
    margin: 0;
    transition: font-size 0.5s;
}

.hero .large {
    font-size: 128px;
    color: var(--black-2);
    margin: 0;
    transition: font-size 0.5s;
}

@media screen and (max-width: 800px) {
    .hero .sub {
        font-size: 16px;
    }
    .hero .large {
        font-size: 84px;
    }
}


/** Profile **/
.profile-container {
    justify-content: center;
    align-items: center;
  }
  
  .intro {
    text-align: center;
  }
  
  .intro .avatar {
    padding: 10px;
  }
  
  .intro .avatar img {
    width: 128px;
    height: auto;
    display: inline-block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    cursor: pointer;
  }
  
  .intro .avatar img:hover {
    position: relative;
    -webkit-transform: translateY(-0.75em);
    -moz-transform: translateY(-0.75em);
    -ms-transform: translateY(-0.75em);
    -o-transform: translateY(-0.75em);
    transform: translateY(-0.75em);
    cursor: pointer;
  }
  
  .nickname {
    font-size: 2em;
    font-weight: normal;
  }
  
  .links a {
    padding: 0 5px;
  }
  
  .links a:hover {
    background-color: transparent;
  }
  
  .links .iconfont {
    font-size: 2em;
    color: var(--black-4);
  }
  
/* to create an arrow to indicate scrolling */
  .indicator {
    position: absolute;
    bottom: 50px;
    text-align: center;
    animation: fade-in-out 5s infinite;
    color: var(--black-2);
    font-size: 0.9em;
    transition: opacity 2s ease; /* Fade out animation */
  }
  .arrow {
    margin: 0px auto;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid var(--black-2);
    border-right: 5px solid var(--black-2);
    transform: rotate(45deg);
    opacity: 0.5;
    animation: fade-in-out 10s infinite;
  }

  @keyframes fade-in-out {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .hide {
    opacity: 0;
    animation: fade-out 1.5s forwards;
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }