.toc > p {
  margin: 0;
}

.toc > p > a {
  color: var(--black-4);
  text-decoration: none;
  display: inline-block;
  padding: 8px 0;
  padding-left: 12px;
  border-left: 1px solid var(--border-color);
  transition: color 0.2s, border-color 0.2s;
}

.toc > p > a:hover,
.toc > p > a:focus-visible {
  color: var(--black);
  text-decoration: none;
  border-color: var(--black-2);
}


/* ========== TOC from chic ========== */

:root {
  --post-toc-width: 15rem;
  --padding-1: 1px;
  --padding-4: 0.25rem;
  --padding-6: 0.375rem;
  --padding-8: 0.5rem;
  --padding-10: 0.625rem;
  --padding-12: 0.75rem;
  --padding-14: 0.875rem;
  --padding-16: 1rem;
  --padding-20: 1.25rem;
  --padding-24: 1.5rem;
  --padding-32: 2rem;

  --font-size-base: 16px;
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;

  --light-post-link-color: #someColor; /* Define this color */
}

/* book-toc */
.post-toc {
  position: fixed;
  top: calc(32px + 63px); /* top value = (navbar>container).height + (.post-wrap).padding-top */
  right: 2em;
  width: var(--post-toc-width);
  font-size: var(--font-size-12);
}

.post-toc .tocbot-list {
  max-height: 450px;
  max-width: 250px;
  overflow: auto;
  position: relative;
  padding-right: var(--padding-14);
}

.post-toc .tocbot-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.post-toc .tocbot-list::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #eee;
  border-radius: 2px;
}

.post-toc .tocbot-list ul {
  list-style: none;
  position: inherit;
  overflow: hidden;
}

.post-toc .tocbot-list ul li {
  margin-left: var(--padding-4);
}

.post-toc .toc-link::before {
  background-color: white;
}

.post-toc .is-active-link::before {
  background-color: var(--light-post-link-color);
}

.post-toc .tocbot-list-menu {
  margin: var(--padding-16) var(--padding-12);
  font-size: var(--font-size-12);
}

.post-toc .tocbot-list-menu a {
  display: block;
  margin: var(--padding-6) 0;
  color: #999;
  cursor: pointer;
}

.post-toc .tocbot-list-menu a:hover {
  color: gray;
}
