@font-face {
  font-family: "iconfont"; /* Project id 4626042 */
  src: url('iconfont.woff2?t=1721321082289') format('woff2'),
       url('iconfont.woff?t=1721321082289') format('woff'),
       url('iconfont.ttf?t=1721321082289') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e608";
}

.icon-link:before {
  content: "\e656";
}

.icon-gallery:before {
  content: "\e658";
}

.icon-publish:before {
  content: "\e7b3";
}

.icon-resume:before {
  content: "\e7b5";
}

.icon-blog:before {
  content: "\e7d8";
}

.icon-tags:before {
  content: "\e7e5";
}

.icon-alipay:before {
  content: "\e87c";
}

.icon-skype:before {
  content: "\e87d";
}

.icon-codepen:before {
  content: "\e87e";
}

.icon-sketch:before {
  content: "\e87f";
}

.icon-gitlab:before {
  content: "\e880";
}

.icon-dribbble:before {
  content: "\e881";
}

.icon-instagram:before {
  content: "\e882";
}

.icon-reddit:before {
  content: "\e883";
}

.icon-youtube:before {
  content: "\e884";
}

.icon-qq:before {
  content: "\e885";
}

.icon-weibo:before {
  content: "\e886";
}

.icon-wechat:before {
  content: "\e887";
}

.icon-github:before {
  content: "\e888";
}

.icon-mastodon:before {
  content: "\f1ec";
}

.icon-category:before {
  content: "\e806";
}

.icon-facebook:before {
  content: "\e6ee";
}

.icon-linkedin:before {
  content: "\e6fc";
}

.icon-zhihu:before {
  content: "\e765";
}

.icon-rss:before {
  content: "\e6a4";
}

.icon-bilibili:before {
  content: "\e75c";
}

.icon-trophy:before {
  content: "\e689";
}

.icon-codesandbox:before {
  content: "\eb67";
}

.icon-bluesky:before {
  content: "\ea98";
}

